<div class="container-home">
  <div class="items">
    <div class="clear" />
    <div class="newest">
      <div class="headline-newest">List all products - <%= Category.count %></div>
     <% Category.all.each do |category| %>
      <div class="list-Browse-NewsRv">

        <div class="title-Br-NewsRv"><%= category.id %> ---- <%= category.name %>
        </div>
        <div class="Br-NewsRv-cont">

        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>