<!-- <div class="center hero-unit">
  <h1>Welcome to the VenShop</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, :class=> "btn btn-large btn-primary" %>
</div> -->



<div class="container-home">

  <div class="items">
    <div class="recommended">
      <div class="headline">Recommended Items</div>



      <div class="small-item">
        <div class="title"><a href="/item" class="item-link">Powerful Compact Zoom Binoculars 9-27X25 Barska AB10162</a></div>
        <div class="item-img"><a href="/item">Picture</a></div>
        <div class="item-price">1.800.000 VND</div>
      </div>

    </div>
    <div class="clear" />
    <div class="newest">
      <div class="headline-newest">Newest Items</div>
      <div class="list-Browse-NewsRv">
        <div class="bl-image">
<a href="/item">Picture</a>
        </div>
        <div class="price">9.000.000 VND
          <div class="newest-datetime">27/05/2013 - 11:01</div>
        </div>

        <div class="title-Br-NewsRv">Invicta Watch 12974 Men's I-Force Pale Blue Dial Black Genuine Leather Cuff
        </div>
        <div class="Br-NewsRv-cont">
          Women's Karamica High Tech Ceramic  Model Number: 20050-WWSR
          MSRP: $995.00
          Designed to always tell time with elegance, this Swiss Legend timepiece is a fashionable addition to any wardro
        </div>
      </div>



    </div>

  </div>
</div>