<div class="container-home">
  <div class="items">
    <div class="clear" />
    <div class="newest">
      <div class="item-name">Item name</div>
      <div class="list-Browse-NewsRv">
        <div class="bl-image2"><a href="/item">Picture</a>
        </div>

        <div class="price-detail">
          <div class="cell-item">
            <div class="item-id">ID:</div>
            <div class="item-id-content">00001</div>
          </div>
        </br>
        <div class="cell-item">
          <div class="item-price">Price:</div>
          <div class="item-price-content">12.000.000 VND</div>
        </div>
      </br>
      <div class="cell-item">
        <div class="item-date">Date:</div>
        <div class="item-date-content">12/12/2012</div>
      </div>
    </br>
    <div class="cell-item">
      <div class="item-buying"></div>
      <div class="item-continue">Buy |</div>
      <div class="item-continue">| Add to Cart</div>


    </div>
  </div>


  <div class="clear"></div>
  <h3>Decription item</h3>
  <div class="desc-item">
    LED backlight adopt

    LED backlight to achieve high image quality
    reduce power consumption LED high luminous efficiency transformed into a net-enabled TV in the smartphone cooperation with MHL support can be enjoyed on the big screen a wide variety of online content in the smartphone via the MHL support . The power supply can be of smartphone while watching TV! USB external HDD recording corresponding longer recording USB hard disk support can record three-minute one portable hard disk response (bus-powered) power unnecessary "Save mode" button and saving image quality with reduced brightness, no operation off, no signal settings, such as one shot off, the energy saving feature of the day "total viewing time" by the display, and power-saving firm while aware of the viewing time
  </div>

</div>

</div>

</div>
</div>