<div class="container-home">
  <div class="items">
    <div class="clear" />
    <div class="newest">
      <div class="title-search">The result</div>
      <div class="list-Browse-NewsRv">
        <div class="bl-image"><a href="/item">Picture</a>
        </div>
        <div class="price">9.000.000 VND
          <div class="newest-datetime">27/05/2013 - 11:01</div>
        </div>
        <div class="title-Br-NewsRv"><a href="/item">Invicta Watch 12974 Men's I-Force Pale Blue Dial Black Genuine Leather Cuff</a>
        </div>
        <div class="Br-NewsRv-cont">
          Women's Karamica High Tech Ceramic  Model Number: 20050-WWSR
          MSRP: $995.00
          Designed to always tell time with elegance, this Swiss Legend timepiece is a fashionable addition to any wardro
        </div>
      </div>
    </div>
  </div>
</div>