<div class="container-home">
  <div class="items">
    <div class="clear" />
    <div class="newest">
      <div class="headline-newest">List all Cate</div>
     <% @category.each do |cate| %>

        <div class="title-Br-NewsRv"><a href="/category/<%= cate.id %>"><%= cate.name %></a>
        </div>

      <% end %>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="clear"></div>
