
<div class="container-home">
  <div class="items">
    <div class="clear" />
    <div class="newest">
      <div class="list-Browse-NewsRv">
        <h1>Getproducts#new</h1>
        <p>Find me in app/views/getproducts/new.html.erb</p>
      </div>
    </div>
  </div>
</div>
