<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        Name: <i style=color:red><%= @user.name %></i><br>
        Email: <i style=color:red><%= @user.email %></i>
      </h1>
    </section>
  </aside>
</div>