<div class="header-search">
</div>
<div class="container-home">
  <div class="items">
    <div class="clear" />
    <div class="newest">
       <div class="headline-newest">DONE !</div>

        <div class="list-Browse-NewsRv">



 <h3>Thank you for choose our shop</h3>



      </div>
    </div>
  </div>
</div>

