<div class="header-search">
</div>
<div class="container-home">
  <div class="items">
    <div class="clear" />
    <div class="newest">
      <div class="headline-newest" style="color:#fff">Checkout </div>
        <div class="list-Browse-NewsRv">
          <div class="bl-image"><a href="#">
            <img src="#" />
          </a>
        </div>
        <div class="price">111 Y
          <div class="newest-datetime">
          </div>
        </div>
        <div class="title-Br-NewsRv"><a href="aaa">aaaa</ra>
        </div>
        <div class="Br-NewsRv-cont">
          sss
        </div>
      </div>
    </div>
  </div>
</div>

