<div class="header-search">
</div>
<div class="container-home">
  <div class="items">
    <div class="clear" />
    <div class="newest">
      <div class="headline-newest" style="color:#fff">Finish shopping </div>

      <p>Thank you for choosing our shop, we have sent email to you </p>
      <%= link_to "Back to home page", root_path %>
    </div>
  </div>
</div>