<div class="container-home">
  <div class="items">
    <div class="clear" />
    <div class="newest">
      <div class="headline-newest">DONE !</div>

      <div class="list-Browse-NewsRv">


       <div class="price">
        <div class="newest-datetime"></div>
      </div>
      <div class="title-Br-NewsRv">

        <form class="form-inline" action = "/checkout_finish">

  <input name = "mail" type="text" class="input-small" placeholder="Email">
  <input name = "name" type="text" class="input-small" placeholder="name">

  <button  type="submit" class="btn">Sign in</button>
</form>

      </div>
      <div class="Br-NewsRv-cont">

      </div>
    </div>


  </div>
</div>

</div>
