<div class="catagory">
  <div class="headline-category">Category</div>
  <ul>
    <% Product.all.each do |product| %>
    <li>
      <a href="#"><%= product.categoryid %></a>
    </li>
    <% end %>
  </ul>

</div>