<div class="catagory">
  <div class="headline-category">Category</div>
   <ul>
            <%  Category.all.each do |category| %>
            <li>
             <a href="#"><%=link_to category.name, category %></a>
            </li>
            <% end %>
          </ul>

</div>

