<div class="header-search">


  <%= form_tag products_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", class: "btn btn-large btn-primary"  %>
  </p>
  <% end %>

</div>