<div class="catagory">
  <div class="headline-category">Category</div>
  <ul>
      <li><a href="#">Category 1 das das asd dsa das asa  as</a></li>
      <li><a href="#">Category 2</a></li>
      <li><a href="#">Category 3</a></li>
      <li><a href="#">Category 4</a></li>
      <li><a href="#">Category 5</a></li>
      <li><a href="#">Category 6</a></li>

  </ul>
</div>